<header>
    <nav id="navbar" class="navbar navbar-expand-sm fixed-top">
    <div class="container d-flex align-items-center">
      {% if page.title != "about" %}
      {% assign name = site.title | split: ' ' %}
      {% assign firstname = name | first %}
      {% if name.size > 2 %}
         {% assign middlenames =  name | slice:1, name.size-1 | join:" " %}
      {% else %}
         {% assign middlenames = '' %}
      {% endif %}
      {% assign lastname = name | last %}
      <a class="navbar-brand" href="http://brianboli.com">
       <span class="font-weight-bold">{{ firstname }} {{ lastname }}</span>
      </a>
      {% endif %}
      {% if site.show_social_icons %}
        <div class="social-inline ml-auto">
          {% include social.html %}
        </div>
      {% endif %}
      <div class="collapse navbar-collapse justify-content-end text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap align-items-center">
          {% if site.blog_name %}
          <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}">
              blog
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endif %}
          {% assign sorted_pages = site.pages | sort: "title" %}
          {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
          <li class="nav-item {% if page.title == p.title %}active{% endif %}">
              <a class="nav-link" href="{{ p.url | relative_url }}">
                {{ p.title }}
                {% if page.title == p.title %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
