name: GitHub Pages publication

on:
  push

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    # Use GitHub Actions' cache to shorten build times and decrease load on servers
    - uses: actions/cache@v4
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    # Build Jekyll from root directory and deploy to gh-pages
    - uses: helaili/jekyll-action@v2
      with:
        token: ${{ secrets.LUODIAN_PAGES }}
        target_branch: 'gh-pages'